apiVersion: apps/v1
kind: Deployment
metadata:
  name: ponudniki-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ponudniki
  template:
    metadata:
      labels:
        app: ponudniki
    spec:
      containers:
        - image: rso2223s01/ponudniki:latest
          name: ponudniki
          env:
            - name: KUMULUZEE_DATASOURCES0_CONNECTIONURL
              value: jdbc:postgresql://raja.db.elephantsql.com:5432/nglexaye
            - name: KUMULUZEE_DATASOURCES0_USERNAME
              value: nglexaye
            - name: KUMULUZEE_DATASOURCES0_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pg-ponudniki-pass
                  key: KUMULUZEE_DATASOURCES0_PASSWORD
          ports:
            - containerPort: 8080
              name: server
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health/live
              port: server
            initialDelaySeconds: 20
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /health/ready
              port: server
            initialDelaySeconds: 20
            periodSeconds: 3

---

apiVersion: v1
kind: Service
metadata:
  name: ponudniki
spec:
  type: ClusterIP
  ports:
    - port: 8080
      protocol: TCP
      targetPort: server
  selector:
    app: ponudniki
